<?xml version="1.0" encoding="UTF-8"?>
<!-- http://logging.apache.org/log4j/2.x/manual/appenders.html -->
<Configuration>    
    <Appenders>
    	<!-- 输出日志到控制台  ConsoleAppender --> 
        <Console name="stdout" target="SYSTEM_OUT">
  			<PatternLayout pattern="%-d [ %-5p ] %c{2} - [%l] %m%n" />
  		</Console>
  		<!-- 输出日志到文件 FileAppender --> 
  		<RollingFile name="file" fileName="logs/app.log" append="true"
  		filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
  			<PatternLayout pattern="%-d [ %-5p ] %c{2} - [%l] %m%n" />
  			<Policies>
  				<SizeBasedTriggeringPolicy size="1MB"/>
  			</Policies>  
  			<param name="Encoding" value="UTF-8" />			
  		</RollingFile>
  	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="file" />
		</Root>
	</Loggers>   	

</Configuration> 